<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wildma.androidfastdevelop"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".ui.activity.TextCheckActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.JsonDataParseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.XRadioGroupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.TabLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.StatusBarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ui.activity.MessageNoticeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.MarqueeViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.WaitingDialogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.PermissionDemoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".utils.PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTransparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".ui.activity.WheelViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.BatchOperationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.EventBusFirstActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.EventBusSecondActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>